<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>The Game</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <app-game-control
        (intervalFired)="onIntervalFired($event)"
      ></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <app-odd-number
        *ngFor="let num of oddNumberArr"
        [number]="num"
      ></app-odd-number>
      <app-even-number
        *ngFor="let num of evenNumberArr"
        [number]="num"
      ></app-even-number>
    </div>
  </div>
</div>
